.about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 90%;
}

.about .left{
    text-align: center;
    margin: auto;
    padding: 0.8rem;
    max-width: 690px;
}

/* max-width: 690px; */

.about .left p{
    margin: 2.4rem 0;
}

.about .right{
    max-width: 700px;
}

.right .img{
    max-width: 45%;
    margin: 0 27%;
}

.resume{
    display: inline;
}

.resume h3{
    color: white;
}

.btn-resume{
    width: 20%;
    margin-top: 36px;
} 

.contact-btn{
    max-width: 20%;
    justify-content: center;
    margin: 20px 0;
}

.left p a{
    text-decoration: underline;
}

.left p a:hover{
    color: rgb(243, 145, 158);
}

@media (max-width:1280px) and (min-width:740px)
{
    .about .left{
        /* text-align: center;
        margin: auto;
        padding: 0.8rem; */
        /* width: 40%; */
    }

    /* .about .right{
        max-width: 490px;
        
    }
    .about .right{
        margin-right: 50px;
    }
    .about .left{
        margin-left: 30px;
    } */
}




 
