
.section{
width: 100%;
}

h2.contact-heading{
    padding-top: 18px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.container__form{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
    /* flex-wrap: wrap-reverse; */
    /* align-items: center; */
    /* margin-top: 0.5rem;
    text-align: center;
    justify-content:center; */
}

.left-contact, .right-contact{
    width: 46%;
    /* background-color: white; */
    margin: 10px 20px;
    text-align: center;
}


.container-flex{
    margin: 15px 0;
}

.container-flex h2{
    color:white;
    margin-top:3px;
    margin-bottom: 4px;
    padding: 4px 0;
    text-decoration: underline;
    font-size: 40px;
    text-align: center;
}

.container-flex ul{
    margin-top: 15px;
}

.container-flex ul li{
    color: white;
    list-style-type: disc;
    text-align: left;
    font-size: 1.5rem;
    margin: 10px 0;
    margin-left: 12%;
}

.container-form{
    border-radius: 20px;
    border: 5px solid rgb(218, 59, 85);
}



input,textarea{
    width: 85%;
    padding: 1rem 0.5rem;
    border: 5px solid rgb(218, 59, 85);
    text-transform: uppercase;
    margin: 10px 0px;
    border-radius: 10px;
}

input[type="submit"]{
    width: 90%;
    padding: 1rem 0.5rem;
    text-transform: uppercase;
    margin: 10px 0px;
    border-radius: 10px;
}

textarea{
    resize: none;
    width: 90%;
    height: 150px;
}

@media screen and (max-width:780px){
    .container__form{
        flex-wrap: wrap-reverse;
    }

    .left-contact,.right-contact{
        width: 90%;
    }

    .left-contact{
        margin-bottom: 20px;
    }
}



