/* .wrapper{
    height: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(12rem,16rem));
    gap: 10rem;
    justify-content: center;
    padding: 3% 0 3%;
    margin-right: 8%;
}

@media screen and (max-width:1106px){
    .wrapper{
        gap:5rem;
    }   
}

@media screen and (max-width:950px){
    .wrapper{
        gap:2rem;
    }   
} */

























/* .main{
    width: 50%;
    margin: 0 auto;
    height: 60vh;
    margin-top: 20px;
    padding-top: 30px;
}

.slider-button{
    text-align: center;
}


Slider {
    width: 50%;
    margin-top: 10px;
}

Slide img{
    height: 15vh;
}

.slider-button{
    margin-top: 50px;
} */