.main{
    width: 50%;
    margin: 0 auto;
    height: 60vh;
    margin-top: 20px;
    padding-top: 30px;
}

.slider-button{
    text-align: center;
}


Slider {
    width: 50%;
    margin-top: 10px;
}

Slide img{
    height: 15vh;
}

.slider-button{
    margin-top: 50px;
}