@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200;300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Chivo Mono', monospace;
}

body{
  background: rgb(3, 1, 16);
  opacity: 0.8;
}


h1,h4,p,a{
  color: rgb(218, 59, 85);
  text-decoration: none;
}


ul{
  list-style-type: none;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: white;
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-light{
  background: transparent;  
  color: white;
}

.btn:hover{
  background: rgba(228, 34, 66, 0.484);
  color: #fff;
  transition: 0.5s;  
}

.icons-buttons{
  display: flex;
  justify-content: center;
  grid-gap: 3rem;
  align-items: center;
  margin-bottom: 20px;
}








